#header {
  background-color: e20201e;
  padding: 50px 10px; 
  color: black;
  text-align: center; 
  font-size: 90px; 
  font-weight: bold;
  position: fixed; 
  top: 0;
  width: 100%; 
  transition: 0.2s; 
}